@import url('./global.css');

.login-container, .forgot-password-container, .create-account-container, .reset-container, .unauthorized-container {
    background-color: var(--bg-white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-width: 400px;
    width: 100%;
    text-align: center;
}
.create-account-container{
    margin-top: 50px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.logo {
    max-width: 80%;
    height: auto;
}
.google-btn {
    background-color: var(--google-btn-bg-color);
    color: var(--bg-white);
}